
$font1 : 'Lato', sans-serif;



body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


input{
  padding: 10px;
}


input {
  display: inline-block;
  font-family: $font1;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  margin: 0;
  width:23%;
  text-decoration: none;
  background: #0069ed;
  // color: #ffffff;
  color: black;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;

  
}

input:hover,
input:focus {
  background: #0053ba;
}

input:focus {
  outline: 2px solid #fff;
  outline-offset: -4px;
}

input:active {
  transform: scale(0.99);
}

.qrcode{
  padding:30px;
  
}


.wrapper{
  margin: 0 auto;
 
}

