
body{
     font-family: 'Lato', sans-serif;
     margin: 0;
     padding: 0;
    
}

.qrcode{
   padding: 10px;
   width: 30px;
   font-weight: 900;
   font-size: 60px;
   

}

.gen{
    height: 232px;
    width: 261px
}

.heading{
    font-size: 37px;
    font-family: 'Lato', sans-serif;
    /* padding: 50px; */

}

input{
    width: 10%;
}

.lin{
    color: white;
    text-align: center;
    margin-left: -10px;
    
}

button{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

/* .wrapper{
    margin: 0 auto;
    width: 70%;
    
   
} */


.main{
    margin: 0 auto;
    width: 70%;
}

.wrap {
    margin: 0 auto;
    width: 30%;
}

@media (max-width:500px){
    .wrap{
        width: 100%;
    }
}
.bitcoin{
    text-decoration: underline;
}

/* canvas{
    height: 200px;
    width: 200px;
} */

.add{
    font-size: 18px;
    font-weight: bold;
}

label{
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    
}


canvas{
    height: 208px;
    width: 308px;
}


.equ{
    margin-top: 10px;
    color: rebeccapurple;
}


.pay {
    font-family: 'Lato', sans-serif;
}

.title{
    display: flex;
    justify-content: center;
   
    font-size: 4rem;
    /* margin-top: 50px; */
}

.logo{
    display: flex;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    
}