
body{
     font-family: 'Lato', sans-serif;
     margin: 0;
     padding: 0;
    
}
.qrcode{
   padding: 10px;
   width: 30px;
   font-weight: 900;
   font-size: 60px;
   

}
.gen{
    height: 232px;
    width: 261px
}

.heading{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    /* padding: 50px; */
    margin-bottom: -4px;

}
.sen{
    margin-top: -10px;
    font-size: 30px;
}
input{
    width: 10%;
}

.lin{
    color: white;
    text-align: center;
    margin-left: -10px;
    
}

button{
    display: flex;
    flex-direction: row;
    // margin-left: 20px;
    color: black;
    background-color: white;
    padding: 10px;
    border: none;
    letter-spacing: 5px;
    font-weight: 5px;
    // margin-left: 30px;
}

 .wrapper{
    margin: 0 auto;
    width: 40%; 
} 

.amt{
    text-decoration: underline;
    margin-top: 0;
    
}

.main{
    margin: 0 auto;
    width: 70%;
    // margin-left: 20px;
}

.wrap {
    margin: 0 auto;
    width: 75%;
    margin-bottom: 40px;
}

// @media (max-width:500px){
//     .wrap{
//         width: 100%;
//     }
// }
.bitcoin{
    text-decoration: underline;
}

/* canvas{
    height: 200px;
    width: 200px;
} */

.add{
    font-size: 18px;
    font-weight: bold;
}

label{
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    
}


canvas{
    height: 208px;
    width: 308px;
}


.equ{
    margin-top: 30px;
    color: grey;
}


.pay {
    font-family: 'Lato', sans-serif;
}

.title{
    display: flex;
    justify-content: center;
   
    font-size: 4rem;
     padding-top: 60px; 
}

.logo{
    display: flex;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    
}

.status{
    color: grey;
    letter-spacing:2px;
    //  margin-left: 5px;
}


@media(max-width:1330px){
    .wrap {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }
}


@media(max-width:992px){
    .wrap {
        margin: 0 auto;
        width: 200%;
        margin-bottom: 40px;
    }

    button{
        display: flex;
        width: 100%;
    }
}

@media(max-width:768px){

}


@media(max-width:650px){
    .wrapper{
        width: 100%;
    }

    h2{
        margin-top: 88px;
    }
}

@media(max-width:414px){
    .wrap{
        width: 100%
    }
    
}


@media(max-width:425px){
    .send {
        font-size: 1.2rem;
        margin-top: 118px;
        margin-bottom: 37px;
    }
}

@media(max-width:390px){
    .wrapper{
        width: 100%;
    }

    .wrap{
        width: 150%
    }


    button{
        width: 171px;
        padding: 0;

    }  
}





