
body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;

}

#title {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
  }
  
  #txrefs {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    padding: 0;
  }
  #txrefs td, #txrefs th {
    border: 1px solid #ddd;
    padding: 11px;
  }
  
  #txrefs tr:nth-child(even){background-color: #f2f2f2;}
  
  #txrefs tr:hover {background-color: #ddd;}
  
  #txrefs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#2A78F6;
    color: white;
  }

  .order_wrapper{
      width: 59.2%;
      margin: 0 auto;

  }
  table {
     overflow-x: auto;
     display: block;
    //  width: fit-content;
     max-width: 100%;
     box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
   }
   
  @media(max-width:768px){
    .order_wrapper{
      width: 97%;
    }

    #title {
      font-size: 36px;
      margin-top: 104px;
      margin-bottom: 66px;
  }

  table th {
    font-size: 25px;
  }

  table tr{
    font-size: 20px;
  }
  }

  @media(max-width:500px){
    .order_wrapper{
     width: 93%;
   }

   #txrefs th {
     text-align: left;
   }
  }


  @media(max-width:320px){
    #title {
      margin-top: 171px;
    }
  }